@{
    ViewData["Title"] = "Работник";
}

<div class="button-main-edit">
    <a href="/User/CreateUser" class="button-main">Добавить кассира</a>
    <a href="/User/DeleteUser" class="button-main">Удалить кассира</a>
</div>