@{

}

<div class="button-main-edit">
    <a href="/Director/CreateDirector" class="button-main">Добавить режиссера</a>
    <a href="/Director/DeleteDirector" class="button-main">Удалить режиссера</a>
</div>
